[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tarkin/Desktop/start-tor-browser.desktop]
row=4
col=0

[/home/tarkin/Desktop/steam.desktop]
row=3
col=0

[2020-03-16-17-52-22-00]
row=5
col=0

[6575-9052]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/tarkin]
row=2
col=0

